<h1><%=@recipe.name%></h1>
<p>Recipe created by - <%=@recipe.user.name%></p>
<ul>
	<li>Category - <%=Category.find(@recipe.category_id).name%></li>
  	<br>
    <li>Instructions - <%=@recipe.instructions%></li> 
	<br> 
    <li>Ingredients:</li>
	<ul>
        <%@recipe.ingredients.each do |i|%>
        <li><%=i.ingredient%></li>
        <%end%>
	</ul>
</ul>
