<h1><%=@user.name%>'s RECIPES</h1>

<ol>
  <%@user.recipes.each do |r|%>
  <li>RECIPE NAME: <%=r.name%></li>
  <ul>
    <li>CATEGORY: <%=Category.find(r.category_id).name%></li>
    <li>INSTRUCTIONS: <%=r.instructions%></li>  
    <li>INGREDIENTS:</li>
		<ul>
        	<%r.ingredients.each do |i|%>
        	<li><%=i.ingredient%></li>
        	<%end%>
		</ul>
  </ul>
  <%end%>  
</ol>