<h1><%= @user.name %>'s Page</h1>

<h2><a href='/create_recipe/user/<%= @user.id %>'>Create Recipe</a></h2>

<h2><a href='/user/<%= @user.id %>/edit_recipes'>Edit Recipes</a></h2>

<h2><a href='/user/edit/<%= @user.id %>'>Edit User</a></h2>

<h2><a href='/user/delete/<%= @user.id %>'>Delete User</a></h2>

<h2><a href='/'>Home</a></h2>