<h1><%=@recipe.name%></h1>
<p>Recipe created by - <%=@recipe.user.name%></p>
<ul>
	<li></p>Category - <%=Category.find(@recipe.category_id).name%></p></li>
  	<br>
    <li><p>Instructions - <%=@recipe.instructions%></p></li> 
	<br> 
    <li><p>Ingredients:</p></li>
	<ul>
        <%@recipe.ingredients.each do |i|%>
        <p><li><%=i.ingredient%></li></p>
        <%end%>
	</ul>
</ul>
